%div#spoken-modal{ :class => "modal fade", :tabindex => "-1", 'aria-hidden' =>  "true", :data => { :backdrop => "static", :keyboard => "false" } }
    %div{ :class => "modal-dialog" }
        %div{ :class => "modal-content" }
            %div{ :class => "modal-header" }
                %button{ :type => "button", :class => "close", :data => { :dismiss => "modal" }, 'aria-hidden' =>  "true" }
                %h4{ :class => "modal-title" } Responsive & Scrollable
            %div{ :class => "modal-body" }
                
            %div{ :class => "modal-footer" }
                %button#modal-ok{ :type => "button", :class => "btn green btn-outline", :data => { :dismiss => "modal" } } 
                %button#modal-close{ :type => "button", :class => "btn dark btn-outline", :data => { :dismiss => "modal" } } 

